






/* Navbar */
.login-link {
    color:#3ebc9b;
    font-weight: 600;

}

/* Login */

.btn1 {
    background-color: #18A582;
    width: 100%;
    font-weight: 600;
}
.btn1:hover {
    transform: scaleY(1.1);
}
.font-color {
    color: #18A582;
    font-weight: 600;
}
.signin {
    border: none;
    outline: none;
    background-color: white;
}
.signin {
    transform: scaleY(1.1);
}




/*  Home */
.bg-setup {
    background: url('../image/facets.png');
    background-size: 1000px;
    background-position: center 0px;
    background-repeat:repeat-x;
}

.icon li{
    width:30px;
    height:30px;
}
.fill-plane {
  fill:#40c39f;
}
.fill-house {
  fill:#8869cd;
}
.fill-heart {
  fill:#a62b2f;
}
.fill-star {
fill:#373b3f;
}

/* banner */

.banner11 {
    background-color: rgba(64, 68, 72,.3);
    color: #fff;;
}
.banner12 {
    background-color:rgba(62,188,155,.5);
}
.banner21 {
    background-color:#ed7041;
}
.banner22 {
    background-color:#373b3f;
}
.banner3 {
    background-color:#8465c7;
}
.set-width {
    width:230px;
}
.li-padding li {
    padding:10px;
    font-size:1.25rem;
}
/* Footer */

.li-text-color {
    color:#40c39f;
    font-size:20px;
    font-weight:600;
}
.li-text-color-2 {
    color:#ed7041;
    font-size:20px;
    font-weight:600;
}
.li-text-color-3  {
 color:black;
 font-size:20px;
font-weight:600;
}
.pd-1 li {
    padding-top:5px;
}
.set-h-w {
    height:70px;
    width:150px;
}

.set-h-width {
    height:20px;
}
.fill-plane {
    fill:#40c39f;
}

.icon-span {
    position:relative;
    bottom:20px;
    font-size: 30px;
}

.pointer{
    cursor: pointer;
}

.description:hover{
    text-decoration: underline;
}

.amount{
    font-weight: 550;
}

.singleExpense{
    background-color: whitesmoke;
}

.singleExpense:hover{
    box-shadow: 0px 5px 10px 1px lightgrey;
}

.selected{
    border-left: 5px solid blue;
    color:blue;
}
.img-icon{
    height:20px;
    widht:20px;
}
.split {
    position:relative;
    bottom: 5px;
    margin-left:5px;
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    color:white;
    font-weight: 600;

}
.bg-header {
  background-color: #5bc5a7;
}
.name-color {
    color:#fff;
}
.activity-amount{
    color:mediumturquoise;
}
.font-signup {
    color:#40c39f;

}

.font {
    font-size:15px;
    margin-top: 5px;
}
.sign-g{
    margin-left:40px;
}
.bg-succ {
    background-color:#ed7041;
    border-radius: 10px;
}
.logout {
    background-color: #fff;
    color:#40c39f;
}

/* Addgroup */

.img-logo{
    width: 250px;
    height: 200px;
  }
  
  .light-grey{
    color:rgb(179, 172, 163);
    font-size: large;
    font-weight:500;
  }
  .input{
    border: 1px solid grey;
  }
  *:focus {
    outline: 0;
  }
  .avatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  a{
      text-decoration:none;
  }
  .input-p {
           padding:3px;
  }